
<!DOCTYPE html>
<html class=" ">

<head>
  <!-- 
         * @Package: Alix Mobile App 
         * @Author: themepassion
         * @Version: 1.0
        -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Alix Mobile App: Testimonials</title>
  <meta content="Alix Mobile App" name="description" />
  <meta content="themepassion" name="author" />


  <!-- App Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="assets/images/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">






  <!-- CORE CSS FRAMEWORK - START -->
  <link href="static/css/preloader_2.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <link href="static/css/materialize.min_2.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/materialdesignicons.min_2.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/perfect-scrollbar_2.css" type="text/css" rel="stylesheet" media="screen,projection" />


  <!-- CORE CSS FRAMEWORK - END -->

  <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

  <!-- CORE CSS TEMPLATE - START -->

  
    <link href="static/css/style_2.css" type="text/css" rel="stylesheet" media="screen,projection" id="main-style" />
  <!-- CORE CSS TEMPLATE - END -->

  

</head>
<style>
.bb{


    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    background-color: rgb(83, 188, 245);
}

</style>


<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class="  html"  data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
  <div class="preloader-background">
    <div class="preloader-wrapper">
      <div id="preloader"></div>
    </div>
  </div>

  

<!-- START navigation -->
<nav class="fix_topscroll logo_on_fixed  topbar navigation" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="index.html" class=" brand-logo " >芜湖奇瑞技工学校墙</a>    <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->

    <!-- <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul> -->
    <a href="#" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i
        class="mdi mdi-arrow-left" data-page=""></i></a>

    <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large"><i class="mdi mdi-menu"></i></a>



    <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i
        class="mdi mdi-settings-outline"></i></a>

    <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i
        class="mdi mdi-invert-colors mdi-transition1"></i></a>
    <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>
<ul id="slide-nav" class="sidenav sidemenu">
  <li class="menu-close"><i class="mdi mdi-close"></i></li>
  <li class="user-wrap">
    <div class="user-view row">
     
      <div class="col s9 infoarea">
        <a href="ui-app-profile.html"><span class="name">芜湖奇瑞技工学校墙表白墙</span></a>
        <a href="ui-app-profile.html"><span class="email">想说的话这里告诉ta</span></a>
      </div>
    </div>
  </li>


  <li class="menulinks">
    <ul class="collapsible">
      <!-- SIDEBAR - START -->

<!-- MAIN MENU - START -->

<li class="sh-wrap"><div class="subheader">功能</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-home.html">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">首页</span>
                            </a>
                        </div>
                    </li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="{#WWW}index/wall">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span class="title">表白</span>  </a>
                        </div></li>

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="{#WWW}post">
                        <i class="mdi mdi-arrange-send-to-back"></i>
                        <span class="title">发帖</span>
                            </a>
                        </div>
                    </li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="{#WWW}app/a1/index.html">
                        <i class="mdi mdi-flask-outline"></i>
                        <span class="title">舔狗</span>
                            </a>
                        </div>
                    </li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="{php echo WWW.URL('my',$user['user']);}">
                        <i class="mdi mdi-palette-swatch"></i>
                        <span class="title">我的空间</span>
                            </a>
                        </div>
                    </li>
   
                                        <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="{#WWW}user{#EXP}out">
                        <i class="mdi mdi-account-network"></i>
                        <span class="title">注销登录</span>
                            </a>
                        </div>
                    </li>
           <li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">数据</div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        
                        
                          <span style="line-height: 15px;" class="bb">{$hy_count.user}</span> 人加入了芜湖奇瑞技工学校墙表白墙</a>
                        </div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        
                       
                        <span class="title"><span style="line-height: 15px;" class="bb">{$hy_count.thread}</span> 条主题被发布</span> 
                        </div></li>
                    

<!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
  </li>
</ul>
</li>
<li class="copy-spacer"></li>
<li style="margin-top: 30px" class="copy-wrap">
  <div class="copyright">&copy; 芜湖奇瑞技工学校墙表白墙 @ 作者QQ 2473982397 </div>



  </ul>
  <!-- END navigation -->


  <ul id="slide-settings" class="sidenav sidesettings right fixed">
    <li class="menulinks">
      <ul class="collapsible">
        <!-- SIDEBAR - START -->

<!-- MAIN MENU - START -->

<li class="sh-wrap"><div class="subheader">Themes</div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="red">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate red-text text-lighten-2"></i>
                        <span class="title">红色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="orange">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-orange-text text-lighten-2"></i>
                        <span class="title">橘橙</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-text text-lighten-2"></i>
                        <span class="title">蓝色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="teal">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline teal-text text-lighten-2"></i>
                        <span class="title">青色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="pink">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline pink-text text-lighten-2"></i>
                        <span class="title">粉色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="light-green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline light-green-text text-lighten-2"></i>
                        <span class="title">浅绿</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline purple-text text-lighten-2"></i>
                        <span class="title">紫色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="green">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline green-text text-lighten-2"></i>
                        <span class="title">绿色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings active" data-type="theme" data-value="deep-purple">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline deep-purple-text text-lighten-2"></i>
                        <span class="title">紫淡</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="amber">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline amber-text"></i>
                        <span class="title">黄色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="indigo">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline indigo-text text-lighten-2"></i>
                        <span class="title">靛青</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="blue-grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline blue-grey-text text-lighten-2"></i>
                        <span class="title">蓝灰</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="brown">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline brown-text text-lighten-2"></i>
                        <span class="title">棕色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="cyan">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline cyan-text text-lighten-2"></i>
                        <span class="title">青色</span>  </a>
                        </div></li>
                    <li class="lvl1  theme">
                    <div class="waves-effect appsettings " data-type="theme" data-value="grey">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline grey-text text-darken-2"></i>
                        <span class="title">黑色</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">白昼样式</div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings active" data-type="site_mode" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">白天</span>  </a>
                        </div></li>
                    <li class="lvl1  site_mode">
                    <div class="waves-effect appsettings " data-type="site_mode" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">黑夜</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">标题样式</div></li>
                    <li class="lvl1  header">
                    <div class="waves-effect appsettings active" data-type="header" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">灯光</span>  </a>
                        </div></li>
                    <li class="lvl1  header">
                    <div class="waves-effect appsettings " data-type="header" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">深色</span>  </a>
                        </div></li>
                    <li class="lvl1  header">
                    <div class="waves-effect appsettings " data-type="header" data-value="colored">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">彩色</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">标题对齐</div></li>
                    <li class="lvl1  header_align">
                    <div class="waves-effect appsettings " data-type="header_align" data-value="left">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">左对齐</span>  </a>
                        </div></li>
                    <li class="lvl1  header_align">
                    <div class="waves-effect appsettings active" data-type="header_align" data-value="center">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">居中对齐</span>  </a>
                        </div></li>
                    <li class="lvl1  header_align">
                    <div class="waves-effect appsettings " data-type="header_align" data-value="right">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">右对齐</span>  </a>
                        </div></li>
                    <li class="lvl1  header_align">
                    <div class="waves-effect appsettings " data-type="header_align" data-value="app">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">基于App的标题对齐</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">菜单样式</div></li>
                    <li class="lvl1  menu">
                    <div class="waves-effect appsettings active" data-type="menu" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">轻量菜单</span>  </a>
                        </div></li>
                    <li class="lvl1  menu">
                    <div class="waves-effect appsettings " data-type="menu" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">深色菜单</span>  </a>
                        </div></li>
                    <li class="lvl1  menu">
                    <div class="waves-effect appsettings " data-type="menu" data-value="colored">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title"彩色菜单</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">菜单图标</div></li>
                    <li class="lvl1  menu_icons">
                    <div class="waves-effect appsettings active" data-type="menu_icons" data-value="on">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">显示</span>  </a>
                        </div></li>
                    <li class="lvl1  menu_icons">
                    <div class="waves-effect appsettings " data-type="menu_icons" data-value="off">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">隐藏</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">页脚样式</div></li>
                    <li class="lvl1  footer">
                    <div class="waves-effect appsettings " data-type="footer" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">浅色页脚</span>  </a>
                        </div></li>
                    <li class="lvl1  footer">
                    <div class="waves-effect appsettings active" data-type="footer" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">深色页脚</span>  </a>
                        </div></li>
                    <li class="lvl1  footer">
                    <div class="waves-effect appsettings " data-type="footer" data-value="colored">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">彩色页脚</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">页脚类型</div></li>
                    <li class="lvl1  footer_type">
                    <div class="waves-effect appsettings " data-type="footer_type" data-value="minimal">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">最小页脚</span>  </a>
                        </div></li>
                    <li class="lvl1  footer_type">
                    <div class="waves-effect appsettings active" data-type="footer_type" data-value="left">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">左对齐页脚</span>  </a>
                        </div></li>
                    <li class="lvl1  footer_type">
                    <div class="waves-effect appsettings " data-type="footer_type" data-value="center">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">居中页脚</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">固定页脚菜单</div></li>
                    <li class="lvl1  footer_menu">
                    <div class="waves-effect appsettings active" data-type="footer_menu" data-value="show">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">显示固定页脚菜单</span>  </a>
                        </div></li>
                    <li class="lvl1  footer_menu">
                    <div class="waves-effect appsettings " data-type="footer_menu" data-value="hide">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">隐藏固定页脚菜单</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">页脚菜单样式</div></li>
                    <li class="lvl1  footer_menu_style">
                    <div class="waves-effect appsettings active" data-type="footer_menu_style" data-value="light">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                        <span class="title">浅色</span>  </a>
                        </div></li>
                    <li class="lvl1  footer_menu_style">
                    <div class="waves-effect appsettings " data-type="footer_menu_style" data-value="dark">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">深色</span>  </a>
                        </div></li>
                    <li class="lvl1  footer_menu_style">
                    <div class="waves-effect appsettings " data-type="footer_menu_style" data-value="colored">
                        <a href="#!">
                        <i class="mdi mdi-checkbox-blank-outline"></i>
                        <span class="title">彩色</span>  </a>
                        </div></li>

<!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->      </ul>
    </li>
  </ul>
</li>
</ul>

  <div class="container">
    <div class="section">
      <h5 class="pagetitle">芜湖奇瑞技工学校墙表白墙   </h5>

          </div>
  </div>
  




  


{foreach $top_list as $v}
{if $v[biaobai]==1}
<div class="container">
  <div class="section">
<div class="spacer"></div>
<h5 class="center bot-20 sec-tit">{$v.lastdate}</h5>


<div class="slider slider5 testi-boxed testi-overlay z-depth-1 ">
  <ul class="slides transparent testimonials center">
       
        <li>
      <div class="center-align">
        <div class="row userinfo">
          <img src="{#WWW}/hyui/zd.png" alt="" class="circle responsive-img">
          <div class="center-align">
            <span class="name"><strong>TO ：{$v.title}</strong>
              <br><span class='small position'>FROM ：{$v.niming}  #{php echo forum($forum,$v['fid'],'name');}#</span>
            </span>
          </div>
        </div>
      </div>


       <a style="color:#ee6e73;" class="biaobaiurl" href="{php echo WWW.URL('thread','',$v['tid']);}" ajax="true" pos="right">
      <p class="center"><i class="mdi mdi-format-quote-open"></i>{$v.content}<i class="mdi mdi-format-quote-close"></i> </p></a>
      
    </li>
        
    
  </ul>
</div>


  </div>
</div>
     {/if}
    {/foreach}






{foreach $thread_list as $v}
{if $v[biaobai]==1}
<div class="container">
  <div class="section">
<div class="spacer"></div>
<h5 class="center bot-20 sec-tit">{$v.lastdate}</h5>


<div class="primary-bg slider slider5 testi-boxed testi-overlay z-depth-1  ">

  <ul class="slides transparent testimonials center" style="color: #FFFF;">
      
        <li>
      <div class="center-align">
        <div class="row userinfo">
            {if $v[xb]==1}
          <img src="{#WWW}/hyui/n.png" alt="" class="circle responsive-img">
          {/if}
           {if $v[xb]==2}
           <img src="{#WWW}/hyui/ns.png" alt="" class="circle responsive-img">
            {/if}
                       {if $v[xb]==0}
           <img src="{#WWW}/hyui/w.png" alt="" class="circle responsive-img">
            {/if}
      


          <div class="center-align">
            <span class="name"><strong>TO ：{$v.title}</strong>
              <br><span class='small position'>FROM ：{$v.niming}  #{php echo forum($forum,$v['fid'],'name');}#</span>
            </span>
          </div>
        </div>
      </div>

       <a style="color:#fafafa;" class="biaobaiurl" href="{php echo WWW.URL('thread','',$v['tid']);}" ajax="true" pos="right">
      <p class="center"><i class="mdi mdi-format-quote-open"></i>{$v.content}<i class="mdi mdi-format-quote-close"></i> </p></a>

      
    </li>
        
    
  </ul>
</div>


  </div>

</div>

{else}

<div class="container">
  <div class="section">
<div class="spacer"></div>
<h5 class="center bot-20 sec-tit">{$v.title}</h5>


<div class="primary-bg slider slider5 testi-boxed testi-overlay z-depth-1  ">

  <ul class="slides transparent testimonials center" style="color: #FFFF;">
      
        <li>
      <div class="center-align">
        <div class="row userinfo">
        {if $v['img']}
        <?php $tmp = explode(",", trim($v['img'],","));$i=0; ?>

          <img src="{$tmp[0]}" alt="" class="circle responsive-img">
          {else}
    <img src="{#WWW}{$v.avatar.b}" alt="" class="circle responsive-img">
          {/if}

      


          <div class="center-align">
            <span class="name"><strong>{$v.user}</strong>
              <br><span class='small position'>{php echo date("Y-m-d",$v['atime']);}  #{php echo forum($forum,$v['fid'],'name');}#</span>
            </span>
          </div>
        </div>
      </div>

       <a style="color:#fafafa;" class="biaobaiurl" href="{php echo WWW.URL('thread','',$v['tid']);}" ajax="true" pos="right">
      <p class="center"><i class="mdi mdi-format-quote-open"></i>{$v.summary}<i class="mdi mdi-format-quote-close"></i> </p></a>

      
    </li>
        
    
  </ul>
</div>


  </div>

</div>




    {/if}
    {/foreach}


 <div class="hy-box hy-bo-t" style="padding:10px;text-align: center;">
    <a href="{if $pageid==1}javascript:void(0);{else}{php echo WWW.URL($type,$pageid-1);}{/if}" class="hy-btn hy-btn-blu1 l {if $pageid==1}disabled{/if}">{$_LANG['上一页']}</a>
    <span class="Select" style="    margin: 0 auto;">
    <?php $tmp = ($hy_count['thread']%$conf['homelist']) ?(intval($hy_count['thread']/$conf['homelist'])+1) : intval($hy_count['thread']/$conf['homelist']) ; ?>
      <select class="Select-input FormControl">
        {for $i=($pageid-5 < 1) ? 1 : $pageid -5; $i< (($pageid + 5 > $tmp) ? $tmp+1 : $pageid + 5) ; $i++}
          <option value="{php echo WWW.URL($type,$i);}" {if $pageid == $i}selected{/if}>第 {$i} 页</option>

        {/for}
      </select>
          <script type="text/javascript">
          $(".FormControl").change(function(){
              window.location.href = $(this).val();
          })
          </script>
    </span>
    <a href="{if $pageid==$page_count}javascript:void(0);{else}{php echo WWW.URL($type,$pageid+1);}{/if}" class="hy-btn hy-btn-blu1 r {if $pageid==$page_count}disabled{/if}">{$_LANG['下一页']}</a>
    <div style="clear: both;"></div>
  </div>




<footer class="page-footer center social-colored ">
  <div class="container footer-content">
    <div class="row">
      <div class="">
        <h5 class="logo">芜湖奇瑞技工学校墙</h5>
                <p class="text">思念的人，想说的话这里告诉ta</p>
              </div>
      <div class="link-wrap">

                <ul class="social-wrap">
          <li class="social">
            <a class="" href="#!"><i class="mdi mdi-facebook"></i></a>
            <a class="" href="#!"><i class="mdi mdi-twitter"></i></a>
            <a class="" href="#!"><i class="mdi mdi-dribbble"></i></a>
            <a class="" href="#!"><i class="mdi mdi-google-plus"></i></a>
            <a class="" href="#!"><i class="mdi mdi-linkedin"></i></a>

          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="footer-copyright">
    <div class="container">
      &copy; Copyright <a class="" href="http://www.bootstrapmb.com">芜湖奇瑞技工学校墙表白墙</a>. 作者QQ 2473982397
    </div>
  </div>
  </footer>




<div class="backtotop">
  <a class="btn-floating btn primary-bg">
    <i class="mdi mdi-chevron-up"></i>
  </a>
</div>





<div class="footer-menu circular">
  <ul>
      <li>
       {if !IS_LOGIN}
      <a href="{#WWW}user{#EXP}login" >      <i class="mdi mdi-open-in-app"></i>
      <span>登录</span>
      </a> 
{else}
            <a href="{php echo WWW.URL('my',$user['user']);}" >      <i class="mdi mdi-open-in-app"></i>
      <span>我的</span>
      </a>
      {/if}   

       </li>
        <li>
      <a href="{#WWW}forum"" >      <i class="mdi mdi-palette-swatch"></i>
      <span>校区</span>
      </a>    </li>
        <li>
      <a href="{#WWW}" >      <i class="mdi mdi-home-outline"></i>
      <span>首页</span>
      </a>    </li>
        <li>
      <a href="{#WWW}index/wall" >      <i class="mdi mdi-flask-outline"></i>
      <span>表白</span>
      </a>    </li>
        <li>
      <a href="{#WWW}post" >      <i class="mdi mdi-view-dashboard"></i>
      <span>发帖</span>
      </a>    </li>
      
  </ul>
</div>








<!-- PWA Service Worker Code -->

<script type="text/javascript">
// This is the "Offline copy of pages" service worker

// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[PWA Builder] active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("pwabuilder-sw.js", {
        scope: "./"
      })
      .then(function(reg) {
        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
      });
  }
}
</script>
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="static/js/jquery-2.2.4.min_2.js"></script>
<script src="static/js/materialize_2.js"></script>
<script src="static/js/perfect-scrollbar.min_2.js"></script>
<script src="static/js/variables_2.js"></script>
<!-- CORE JS FRAMEWORK - END -->


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script type="text/javascript">
  $(document).ready(function(){
      
         $(".slider3").slider({
                indicators: false,
                height: 230,
        });
        
         $(".slider4").slider({
                indicators: false,
                height: 330,
        });
        $(".slider5").slider({
               indicators: false,
               height: 350,
       });
       $(".slider6").slider({
        indicators: false,
        height: 350,
        });
        
        $(".slider8").slider({
          indicators: false,
          height: 230,
  });
  
   $(".slider7").slider({
          indicators: false,
          height: 330,
  });

  }); 
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


<!-- CORE TEMPLATE JS - START -->
<script src="static/js/init_2.js"></script>
<script src="static/js/settings_1.js"></script>

<script src="static/js/scripts_1.js"></script>

<!-- END CORE TEMPLATE JS - END -->


<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  $('.preloader-background').delay(10).fadeOut('slow');
});
</script>
</body>

</html>