{include h}
{include user_header1}
<section class="body" id="user_add_body">
<div>
    <form id="user-add-form" method="post" onsubmit="return user_add()">
	   <div class="hy-box" style="margin-top:60px">
			<!--{hook t_m_user_add_1}-->
		    <div class="hy-input-box">
		        <input type="text" name="user" placeholder="{$_LANG['请输入用户名']}">
		    </div>
		    <!--{hook t_m_user_add_2}-->
		    <div class="hy-input-box">
		        <input type="text" name="email" placeholder="{$_LANG['请输入安全邮箱']}">
		    </div>
		    <!--{hook t_m_user_add_3}-->
		    <div class="hy-input-box">
		        <input type="password" name="pass1" placeholder="{$_LANG['请输入密码']}">
		    </div>
		    <!--{hook t_m_user_add_4}-->
		    <div class="hy-input-box">
		        <input type="password" name="pass2" placeholder="{$_LANG['确认密码']}">
		    </div>
		    <!--{hook t_m_user_add_5}-->
	    </div>

    	<!--{hook t_m_user_add_55}-->
    	<div style="padding:10px;    text-align: center;">
    		<button id="login" type="submit" class="hy-btn hy-btn-danger hy-btn-block" style="padding: 8px 0;color: #FFFFFF;text-align: center;display: inline-block;background-color: rgb(48, 208, 223);border: 1px solid rgb(48, 208, 223) !important;" >{$_LANG['注册']}</button>
    		<a href="{#WWW}user{#EXP}login" ajax="true" pos="right" rgb="#f1f4f9" type="button" class="hy-btn hy-btn-link" style="color: #a2a2a2;">
                        {$_LANG['已有账号']}
            </a>
            <div style="height:40px"></div>
    	</div>
    </form>
</div>
</section>

<!--{hook t_m_user_add_js}-->
<script>
function user_add(){
    var postdata = $('#user-add-form').serialize();
    <!--{hook t_user_add_js_1}-->
    $.post("{#WWW}user{#EXP}add", postdata,  function(e){
        <!--{hook t_user_add_js_2}-->
        if(e.error){
            if(e.url !='')
                window.location.href=e.url;
            else
                window.location.href="{#WWW}";
        }else{
            $.hy.warning( e.info);
        }
        <!--{hook t_user_add_js_3}-->
    },'json');
    <!--{hook t_user_add_js_4}-->
    return false;
}
</script>
{if !IS_AJAX}
<style type="text/css">
    body{
        background: rgb(238, 238, 238);
    }
</style>
{/if}
{include f}