{include h}
{include index_header}
<!--{hook t_m_index_index_1}--> 
<script type="text/javascript">
          $(".FormControl").change(function(){
              window.location.href = $(this).val();
          })
          </script>
          <script type="text/javascript">
    $(function(){
            $(window).scroll(function(){
                
                if(this.scrollY > 100  ){
                    $(".hy-header").css('background','#30D0DF');
                    $(".hy-header").addClass('header_shadow');
                    $(".hy-header-title,.hy-header .icon").css("cssText","color: #fff !important");
                }else{
                    $(".hy-header").css('background','rgba(0, 0, 0, 0)');
                    $(".hy-header").removeClass('header_shadow');
                    $(".hy-header-title,.hy-header .icon").css("cssText","color: #fff");
                        
                }
                
            });
            

        })
    
</script>
<section class="body" id="index_body">
<div style="position: relative;margin: 10px auto;">
<!--{hook t_m_index_index_2}--> 

  <!--{hook t_m_index_index_3}--> 
	
  <!--{hook t_m_index_index_6}--> 
<div class="jumbotron" >
		    
		    <p>思念的人 想说的话 这里告诉ta</p>
		    <p><a class="btn btn-primary btn-lg" role="button" href="{#WWW}index/wall">我要表白</a></p>
	
	    </div>
		<html>
 <head></head>
 <body>
  <nav class="profile-nav"> 
   <button class="item" > <a href="{#WWW}forum" class="txt">校园</a><!--<span class="num">7851</span>-->  </button> 
   <button class="item" > <span class="txt">{hook hy_bbqnrindex}</span><!--<span class="num">7851</span>--> </button> 
   <button class="item" > <a class="txt" href="{#WWW}" {if isset($_GET['HY_URL'][0])}{if $_GET['HY_URL'][0] != 'btime'}selected{/if}{/if}>{$_LANG['最新主题']}</a><!--<span class="num">7851</span>--> </button> 
   <button class="item" > <a class="txt" href="{php echo WWW.URL('btime','');}" {if isset($_GET['HY_URL'][0])}{if $_GET['HY_URL'][0] == 'btime'}selected{/if}{/if}><!--{$_LANG['最新回复']}-->最新表白</a><!--<span class="num">7851</span>--> </button> 
  </nav>
 </body>
</html>
  <!--{hook t_m_index_index_7}--> 
  <html>
 <head></head>
 <body>
  <div class="profile-apps">
   <ul class="ui-list-view">
    <li role="button" data-hook="mine-visitor" global-hot="main.entervisitorlist.{userTitle}">
     <div class="rows">
      <div class="col-l">
       <i class="i-visitor"></i>
      </div>
      <div class="col-m">
	  <span class="badgebb">{$hy_count.user}</span> 人加入了提拉米苏
      </div>
      <div class="col-r"></div>
     </div></li>
    <li role="button" data-hook="mine-gift" data-params="" data-ping="gift.entry">
     <div class="rows">
      <div class="col-l">
       <i class="i-gift"></i>
      </div>
      <div class="col-m">
       已经有<span class="badgebb">{$hy_count.thread}</span>条主题被发布
      </div>
      <div class="col-r"></div>
     </div></li>
    <li role="button" data-hook="global-link" data-params="#friend?res_uin=1678112882" global-hot="main.enterfriendlist">
   
     
 
     <div class="rows">
      <div class="col-l">
       <i class="i-recent"></i>
      </div>
      <div class="col-m">
       注：发布后没有显示请等待一分钟数据缓存
      </div>
     </div></li>
   </ul>
  </div>
 </body>
</html>
  <span class="Select">
        <script type="text/javascript">
        $(".FormControl").change(function(){
            window.location.href = $(this).val();
        })
        </script>
        <!--{hook t_m_index_index_5}--> 

	</span>
	<!--{hook t_m_index_index_thread_list_top}--> 
	{foreach $top_list as $v}
	{include thread_lit}
	{/foreach}
<!--ajax start--><list id="index-list">
<!-- 页面置顶 -->

<div class="panel panel-info"><a class="biaobaiurl" href="http://bbq.igelou.com/t/5.html" ajax="true" pos="right">
        <div class="panel-heading"><strong>TO ：她静</strong>
          <div class="shijian">2017-11-24 09:15</div>
      </div>
    
      <div class="panel-body">
          <p>好久不见</p>
      <!-- 表白墙点赞 -->
      <!-- 表白墙点赞 -->
          <div class="shijian2">FROM ：不夏</div>
      </div>
    </a><div class="t-ul"><a class="biaobaiurl" href="http://bbq.igelou.com/t/5.html" ajax="true" pos="right">
      </a><ul><a class="biaobaiurl" href="http://bbq.igelou.com/t/5.html" ajax="true" pos="right">
        
        </a><li class="left"><a class="biaobaiurl" href="http://bbq.igelou.com/t/5.html" ajax="true" pos="right">
            </a><a class="xihuan" onclick="tp('thread1',5,this)">
          <i class="iconfont"></i>
          <span>0</span></a></li>
        
        <li class="left">
         <a href="http://bbq.igelou.com/t/5.html">
          <i class="iconfont"></i>
           <span>0</span></a>
        </li>
        <li class="right">
          <i class="iconfont"></i>
                    
              <a style="background:;color:;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" iframe="true" ajax="true" href="http://bbq.igelou.com/f/0.html" class="tla1">#机电学校#</a></li>
      </ul>
    </div>   
      </div>

<div class="hy-box hy-boxy">

  <div class="thread">
    
    <a href="http://bbq.igelou.com/u/admin.html" class="avatar">
                        <img src="http://bbq.igelou.com/public/images/user.gif" class="">
    </a>
    

                    
    <a class="list-title" href="http://bbq.igelou.com/t/7.html" ajax="true" pos="right">
      <h3>admin<span class="touxian"></span></h3>
    </a>
    <li class="blt">
    <span class="postsf" title=""><i class="month">2017-11-24</i>&nbsp;<i class="day">09-20</i></span>
              <span class="icon-reply"></span>
                                          <span class="user">admin</span>
              发表于                                         <span class="time">6天前</span>
          </li>
                  

              <div class="add">
                                <a class="guanzhu" href="http://bbq.igelou.com/user/login"><i class="iconfont icon-tianjia-copy"></i>关注</a>                                             </div>
    <!--<span class="posts" title="" >0</span>帖子列表右上角评论数-->
    
    
  </div>
    <ul class="hy-lable-group">
                
          <li>
              <a style="background:;color:;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" iframe="true" ajax="true" href="http://bbq.igelou.com/f/0.html" class="hy-lable hy-lable-zz">#机电学校#</a>
          </li>
    
          
          <a href="http://bbq.igelou.com/t/7.html"><span class="userp">&nbsp;新模板 难免出现bug, 发现的同学记得回帖告诉我哦</span>
          
              <div class="image1">
            <span class="tl-image" style="background-image:url('http://bbq.igelou.com/upload/userfile/1/503e2af978dd63caa57a81b5ed1e1545.jpg');
      width: 100%;"></span>
      
                      </div>
    </a>
      </ul>
    <div class="t-ul">
      <ul>
        
        <li class="left">
            <a onclick="tp('thread1',7,this)">
          <i class="iconfont"></i>
          <span style="color: #bdbdbd;">0</span></a></li>
        
        <li class="left">
          <i class="iconfont"></i>
           <span style="color: #bdbdbd;">0</span>
        </li>
        <li class="right">
          <i class="iconfont"></i>共有 21 人查看</li>
      </ul>
    </div>  
    
  
</div>
<!-- 页面置顶 -->
	{foreach $thread_list as $v}
	{include thread_list}
	{/foreach}
	
</list><!--ajax end-->
 
	<!--{hook t_m_index_index_thread_list_bottom}-->
	
  <div class="hy-box hy-bo-t" style="padding:10px;text-align: center;">
    <a href="{if $pageid==1}javascript:void(0);{else}{php echo WWW.URL($type,$pageid-1);}{/if}" class="hy-btn hy-btn-blu1 l {if $pageid==1}disabled{/if}">{$_LANG['上一页']}</a>
    <span class="Select" style="    margin: 0 auto;">
    <?php $tmp = ($hy_count['thread']%$conf['homelist']) ?(intval($hy_count['thread']/$conf['homelist'])+1) : intval($hy_count['thread']/$conf['homelist']) ; ?>
      <select class="Select-input FormControl">
        {for $i=($pageid-5 < 1) ? 1 : $pageid -5; $i< (($pageid + 5 > $tmp) ? $tmp+1 : $pageid + 5) ; $i++}
          <option value="{php echo WWW.URL($type,$i);}" {if $pageid == $i}selected{/if}>第 {$i} 页</option>

        {/for}
      </select>
          <script type="text/javascript">
          $(".FormControl").change(function(){
              window.location.href = $(this).val();
          })
          </script>
    </span>
    <a href="{if $pageid==$page_count}javascript:void(0);{else}{php echo WWW.URL($type,$pageid+1);}{/if}" class="hy-btn hy-btn-blu1 r {if $pageid==$page_count}disabled{/if}">{$_LANG['下一页']}</a>
    <div style="clear: both;"></div>
  </div>

</div>
<a class="icon icon-pencil2" href="{#WWW}post" style="no-repeat center 50%;position: fixed;right: 20px;bottom: 60px;width: 35px;height: 35px;padding: 7px;text-align: center;color: rgb(255, 255, 255);border-radius: 1px;opacity: 0.8;text-decoration: none;display: block;background-color: #30D0DF;font-size: 20px;"></a>
<a href="#top" style="background: rgb(255, 156, 11) url(//rs-assets.b0.upaiyun.com/assets/top-arrow-3037d2ab96a78f9d865a59db615a2b03.svg) no-repeat center 50%;position: fixed;right: 20px;bottom: 20px;width: 35px;height: 35px;padding: 7px;text-align: center;color: rgb(255, 255, 255);border-radius: 1px;opacity: 0.8;text-decoration: none;display: block;background-color: #30D0DF;font-size: 20px;"></a>
</section>
<div style="    padding: 2em 0;
    text-align: center;
    line-height: 19px;
    color: rgba(148, 148, 148, 0.9);">
<span class="beian" style="margin-left:0">
<a target="_blank" style="color: #9D9D9D;" href="http://bbq.igelou.com/">
  Powered by bbq.igelou.com
</a>
  </span><br>
  <span class="beian">提拉表白墙 © 2017 . </span>
  <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=3e89c7f7f3879bf0fc0dd23488af79ca93d32cfed34e9dd41ad25839ccb344d8"" style="
    color: #9D9D9D;>
"><br>
<span class="kf">点击加群<a style="display:block;"  ><img border="0" src="{#WWW}View/Tlmsu/img/qqun.png" alt="HY表白墙模板" title="HY表白墙模板"></a><span></span></span></a>
</div>


<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
  dt {
    margin-top: 20px;
}
  dl.font {
    bottom: 0px;
    width: 100%;
}
.font{
 text-align: center;
 color: #FFF;
   background-color:#FF80AB;
        line-height:25px;
        margin-top: -35px;
 }
       </style>
        </head>
    
</html>
<!--{hook t_m_index_index_lt}-->

{include f}