@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvvaorciprq_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvvoorciprq_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvsepbciprq_1.ttf) format('truetype');
}
